.tooltip-container {
  position: relative;
  display: inline-block;
  PADDING: 10px;
}

.tooltip {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 6px;
  border-radius: 4px;
  z-index: 1;
  width: 120px;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s;
}

.tooltip-top {
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.tooltip-right {
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
}

.tooltip-left {
  top: 50%;
  right: 100%;
  transform: translateY(-50%);
}

.tooltip-bottom {
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.tooltip-container:hover .tooltip {
  visibility: visible;
  opacity: 1;
}
